<?xml version='1.0' encoding='utf-8'?>
<plugin id="vh-video-generator-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FrameToVideoPlugin</name>
    <js-module name="FrameToVideoPlugin" src="www/FrameToVideoPlugin.js">
        <clobbers target="cordova.plugins.FrameToVideoPlugin" />
    </js-module>
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="FrameToVideoPlugin">
          <param name="ios-package" value="FrameToVideoPlugin" />
        </feature>
      </config-file>
      <header-file src="src/ios/FrameToVideoPlugin-Bridging-Header.h"/>
      <source-file src="src/ios/FrameToVideoPlugin.swift" />
      <source-file src="src/ios/FrameToVideoPluginHelpers.swift" />
      <!-- <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/> -->
    </platform>

    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="FrameToVideoPlugin">
          <param name="android-package" value="com.xmartlabs.cordova.frame2video.FrameToVideoPlugin" />
        </feature>
      </config-file>

      <source-file src="src/android/FramesToVideoConverter.java" target-dir="com/xmartlabs/cordova/frame2video" />
      <source-file src="src/android/FrameToVideoPlugin.java" target-dir="com/xmartlabs/cordova/frame2video" />
    </platform>
</plugin>
